# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node / React
node_modules/
dist/
build/
.vite/

# Env files
.env
.env.*
!.env.example

# Docker
*.log

# OS
.DS_Store

# Editors
.vscode/
.idea/
